*{
margin: 0;
padding: 0;
}
:root {
    --main-color:  #044b16;
    --main-color-rgb: 0, 240, 240;
}
.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 16px; /* Adjust the margin as needed to control the space between the menu icon and the logo */
  }
  
  .menu-icon svg {
    margin-right: 8px; /* Add some spacing between the icon and text if needed */
  }
  
@font-face {
    font-family: 'NovaFlat-Regular';
    src: url('/src/assets/NovaFlat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'DISCOVERY';
    src: url('/src/assets/DISCOVERY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  #theme-selector{
    display: flex;
    align-items: center;
   margin-top: 10px;
   margin-left: 70px;
    justify-content: center;
  }

#header {
    background-color: black;
    font-family: "NovaFlat-Regular", sans-serif;
    height: 77px;
    display: flex;
    width: 100%;
    box-shadow: -4px 2px 5px 0px #fff;
        position: fixed;
    top: 0;
    font-family: "Quicksand", sans-serif;
    z-index: 48;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header *:not(tspan) {
    transition: all 0.2s;
}
a {
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid rgba(var(--main-color-rgb), 0.35);
    background-color: rgba(var(--main-color-rgb), 0.05);
    transition: all 0.2s ease 0s;
}
#collapse-sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
}
#collapse-sidebar:hover::before {
    top: 13.5px;
    transform: rotate(45deg);
}
#collapse-sidebar:hover::after {
    top: 13.5px;
    transform: rotate(-45deg);
}
#collapse-sidebar::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #044b16;
    top: 8.5px;
    left: 5px;
    transition: all 0.2s;
}
#collapse-sidebar::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #044b16;
    top: 18.5px;
    left: 5px;
    transition: all 0.2s;
}
#name {
    height: 31px;
    margin: 0;
    position: fixed;
    top: 20px;
    left: 80px;
}
#social {
    margin: 0;
    top: 20px;
    right: 10px;
}

#discord-icon {
    display: inline;
    cursor: pointer;
    position: relative;
}

#discord-popup {
    display: inline;
    border-radius: 10px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 135%;
    left: 50%;
    margin-left: -85px;
    background-color: rgba(54, 55, 56, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 170px;
    padding-bottom: 10px;
}

#discord-popup:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: transparent transparent rgba(54, 55, 56, 0.5) transparent;
    box-sizing: border-box;
}
.boxtwo{
    margin-bottom: 30px;
}

#discord-popup * {
    margin: 5px auto;
}

#discord-icon:hover #discord-popup {
    visibility: visible;
    opacity: 1;
}

#social a:not(#discord-popup *) {
    border: none;
    background-color: transparent;
    margin: 0 3px;
}

#social svg {
    height: 30px;
}
.Logo{
    width: 52px;
    margin-left: 34px;
    height: 50px;
    object-fit: cover;
    margin-top: 2px;
}

body{
    font-family:"NovaFlat-Regular",Arial, Helvetica, sans-serif;
}
@media (max-width:768px) {
    #name{
        display: none;
    }
    #social{
        display:none;
    }
    #header{
        min-width: 100vw;
    }
    #header{
        justify-content: space-between;
    }
    .menu-icon{
        margin-left: 10px; /* Adjust the margin as needed to control the space between the menu icon and the logo */

    }
    .img{
        width: 60px;
        height: 60px;
        margin-right: auto;
        margin-left: 38vw;
  
    }
}