*{
margin: 0;
padding: 0;
}
:root {
    --main-color:  #0099cc;
    --main-color-rgb: 0, 240, 240;
}

#header {
    background-color: #191b1d;
    font-family: "Quicksand", sans-serif;
    height: 70px;
    width: 100vw;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    font-family: "Quicksand", sans-serif;

    z-index: 50;
}
#header *:not(tspan) {
    transition: all 0.2s;
}
a {
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid rgba(var(--main-color-rgb), 0.35);
    background-color: rgba(var(--main-color-rgb), 0.05);
    transition: all 0.2s ease 0s;
}
#collapse-sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
}
#collapse-sidebar:hover::before {
    top: 13.5px;
    transform: rotate(45deg);
}
#collapse-sidebar:hover::after {
    top: 13.5px;
    transform: rotate(-45deg);
}
#collapse-sidebar::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #0099cc;
    top: 8.5px;
    left: 5px;
    transition: all 0.2s;
}
#collapse-sidebar::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #0099cc;
    top: 18.5px;
    left: 5px;
    transition: all 0.2s;
}
#name {
    height: 31px;
    margin: 0;
    position: fixed;
    top: 20px;
    left: 80px;
}
#social {
    margin: 0;
    display: flex;
    position: fixed;
    top: 20px;
    right: 10px;
}

#discord-icon {
    display: inline;
    cursor: pointer;
    position: relative;
}

#discord-popup {
    display: inline;
    border-radius: 10px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 135%;
    left: 50%;
    margin-left: -85px;
    background-color: rgba(54, 55, 56, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 170px;
    padding-bottom: 10px;
}

#discord-popup:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: transparent transparent rgba(54, 55, 56, 0.5) transparent;
    box-sizing: border-box;
}
.boxtwo{
    margin-bottom: 30px;
}

#discord-popup * {
    margin: 5px auto;
}

#discord-icon:hover #discord-popup {
    visibility: visible;
    opacity: 1;
}

#social a:not(#discord-popup *) {
    border: none;
    background-color: transparent;
    margin: 0 3px;
}

#social svg {
    height: 30px;
}
.Logo{
    width: 52px;
    margin-left: 34px;
    height: 50px;
    object-fit: cover;
    margin-top: 2px;
}


@media (max-width:768px) {
    #name{
        display: none;
    }
    #social{
        display:none;
    }
}