/* Add your styles for collapsed and expanded states */
:root {
    --main-color: #044b16;
    --main-color-rgb: 0, 240, 240;
}


body {
    background-color: black;
    font-family: "NovaFlat-Regular";
    color: lightgray;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar.collapsed {
    left: -250px;
    position:absolute
    /* Add any other styles for the collapsed state */
  }
  #sidebar * {
    transition: all 0.2s;
}
  
  #sidebar.expanded {
    left: 0;
    height: 100%;
    background-color: #191b1d;
    border-top: 1px solid #000;
    box-sizing: border-box;
    box-shadow: inset -5px 0 10px -5px rgba(0, 0, 0, 0.5);
    max-width: 150px;
        font-family: "NovaFlat-Regular";

    overflow: hidden;
    position: fixed;
    top: 70px;
    z-index: 50;
    /* Add any o
    ther styles for the expanded state */
  }
  #title {
    display: inline-flex;
    height: 50px;
    margin-top: 30px;
    margin-left: 5px;
    padding: 10px;
}
#sidebar svg {
    height: 23px;
    margin-right: 20px;
}
#sidebar p {
    font-size: 1.3em;
    line-height: 1;
    color: #D3D3D3;
    font-weight: bold;
    letter-spacing: 2px;
}
#pages {
    margin-top: 50px;
    min-width: 230px;
}


#pages a, #pages .sidebar-collapsible {
    display: block;
    margin: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

#pages a:hover {    padding-left: 21px;
    color: white;
    border-top-right-radius: -98px;
    border-bottom-left-radius: 24px;
    background-color: #044b16;
}


#pages .not-active{
    display: none;
}

#pages .sidebar-content {
    border-left: 1px solid gray;
    margin-left: 20px;
    overflow: hidden;
    max-height: 0;
}

#pages .sidebar-content a {
    margin-top: 10px;
}



#pages .sidebar-collapsible-active .sidebar-content {
    max-height: none;
}





  /* Other CSS styles for your sidebar */
  
#pages .sidebar-collapsible:hover .sidebar-content {
    max-height: none; /* Display all content when hovered */
    color: red;
}

#pages .sidebar-collapsible svg {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 5px;
    transform: rotate(-90deg);
}

#pages .sidebar-collapsible:hover svg {
    transform: rotate(0deg); /* Rotate arrow icon when hovered */
}
