
:root {
  --red: black;
  --darkred:#044b16 ;
 --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

.bodies {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--white);
  background: var(--platinum);
 margin-top: 10%;
 margin-bottom: 10%;
text-align: center;
width: 100vw !important;
}

.containers {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.card-container {
    max-width: 100%;
    overflow-x: auto; /* Add horizontal scrollbar when needed */
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .cardess {
    display: flex;
    padding: 25px 4px;
    list-style: none;
    /* overflow-x: scroll; Remove this line to allow natural scrollbar */
    scroll-snap-type: x mandatory;
  }
  

.cardes div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Novaflat-regular;
    flex-direction: column;
}
.cardes .roundedcards {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "NovaFlat-Regular";
        margin-top: -30px;
        border: green solid 1px;
        /* margin-left: 40%; */
        background-color: black;

}
.cardes {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  min-width: 260px;
  min-height: 200px;
  border: #044b16 solid 2px;
  display: flex;
  margin-left: 12px;
  padding: 10px;
  align-items: center;
  background: black;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.cardes:not(:last-child) {
  margin-right: 10px;
}

.cardes:hover {
  color: var(--white);
  background: var(--red);
}

.cardes .cardes-title {
  font-size: 20px;
}

.cardes .cardes-content {
  margin: 20px 0;
  max-width: 85%;
}

.cardes .cardes-link-wrapper {
  margin-top: auto;
}

.cardes .cardes-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--red);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.cardes:hover .cardes-link {
  background: var(--darkred);
}

.cardess::-webkit-scrollbar {
  height: 12px;
}

.cardess::-webkit-scrollbar-thumb,
.cardess::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cardess::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cardess::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .cardes {
    flex-basis: calc(50% - 10px);
  }

  .cardes:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
    .bodies{
        margin-left: 5%;
    }
  .cardes {
    flex-basis: calc(calc(100% / 3) - 20px);
    margin-left: 2px;
  }

  
  .cardes:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .cardes {
    flex-basis: calc(25% - 30px);
  }

  .cardes:not(:last-child) {
    margin-right: 40px;
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

