
.testimonials
{
    
        display: grid;
        grid-template-columns: repeat(2, minmax(341px,2fr));
        row-gap: 33px;
        /* grid-gap: 30px; */
        column-gap: 10px;
        font-family: "NovaFlat-Regular";
  
}
.testimonials .card
{
    position: relative;
    display: flex;
   font-family: "NovaFlat-Regular";
    padding: 20px;
    box-sizing: border-box;
    border: white solid 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-left: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
}
.card:hover{
    transform:scale(0.9)
}
.card{
    object-fit:cover;
    background-size: cover;
    height: 300px;
   background-repeat: none;
    background-image: url("../imagesLogo//card.png");

}
.content h1{
    font-size: 28px;
}
.content p{
    font-size: 10px;
    font-family: "NovaFlat-Regular";
}
.testimonials .card .layer
{
    position: absolute;
    top:calc(100% - 2px);
    left:0;
    width:100%;
    height: 100%;
    margin-bottom: 20px;
    z-index: 1;
    transition: 0.5s;
}

.testimonials .card .content
{  position: relative;
    z-index: 2;
   



}
.testimonials .card .content p {
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    margin-top: 10px;
}
.testimonials .card .content .image
{
   width: 100px;
   height: 100px;
   margin: 3px auto;
   border-radius: 50%;
   overflow: hidden;
   border: 4px solid #fff;
   box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.testimonials .card .content .details h2
{ 
   font-size: 18px;
   color: #fff;
}
.testimonials .card .content .details h2 span
{
    color: #03a9f4;
    font-size: 14px;
    transition: 0.5s;
}

.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 49px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.heading h1{
    font-family: "DISCOVERY";
    font-weight: 400;
}
.testimonials .card .content
{  position: relative;
    z-index: 2;
    height: 253px;
    width: 292px;
    margin-left:30px;



}
.HowItworks{
    
  
        margin-top: 50px;
        padding-left: 40px;
        padding-right: 58px;
        font-family: "NovaFlat-Regular";
   

}
@media(max-width:768px){
    .HowItworks {
                  margin-top: 50px;
            /* padding-right: 49px; */
            /* padding-left: 140px; */
            margin-left: 42px;
            min-width:100vw;
            
        
    }
    .heading {
        padding-left: 19px;
        text-align: center;
    }
    .heading h1 {
        font-family: 'DISCOVERY';
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        margin-bottom: 17px;
        margin-left: 42px;
    }
    .testimonials{
                margin-left: 10px;
            display: grid;
            grid-template-columns: repeat(1, minmax(341px,2fr));
            grid-gap: 37px;
            font-family: "NovaFlat-Regular";
            margin-bottom: 20px;

    }

}