.register-container {
    background-color: black;
    color: green;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .row{
    margin-left:30px;
  }
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .register-container {
      grid-template-columns: 1fr; /* Single column on mobile */
    }
  }
  
  .form-group {
    margin: 10px 0;
    text-align: left;
  }
  
  /* Rest of your existing CSS */
  

.register-heading {
  font-size: 24px;
  margin-bottom: 20px;
  grid-column: span 2;
}

.form-group {
  margin: 20px 0;
  
  text-align: left;
  grid-column: span 2;
}

label {
  color: green;
}

input,
textarea {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  background-color: black;
  color: green;
}

.submit-button {
  background-color: green;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  grid-column: span 2;
}

.submit-button:hover {
  background-color: #006400;
}
