/* Footer.css */
.footer {
  padding: 2rem 0;
  text-align: center;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 1rem;
  transition: transform 0.2s;
}

.social-icon a {
  display: inline-block;
  text-decoration: none;
 
  color: #fff;
}
.social-icon svg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social-icon a:hover {
  transform: scale(1.2);
}

@media (max-width:768px){
  .footer {
    padding: 3rem 85px;
    text-align: center;
    /* background: red; */
    display: flex;
    align-items: center;
    min-width: 100vw;
    justify-content: center;
  }
}