#banner {
   
    text-align: left;
    display: flex;
    
    padding: 0 20px;
font-family: "NovaFlat-Regular";
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10%;
    align-items: start;
}
.headertwo{
  max-width:1000px;
  margin-left: 30px;
}
/* Add these styles to your CSS file */
.video-background {
    position: relative;
    margin-top: 63px;
    border-radius: 36px;
}
video{
  border-radius: 20px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.headertwo{
  max-width: 800px;
  margin-top: 10px;
}



/* Add responsive styles */


#banner h2{
font-weight: 500;
font-family: "DISCOVERY";
font-size: 38px;
}
#banner-text {
    font-size: 16px;
    max-width: 50%;
    max-height: 50%;
    text-align: left;
}
#banner-icon {
    margin: 100px 30%;
    margin-bottom: auto;
}
.boxtwo{
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 30px;    

}
.logoheader{
    width: 47px;
    margin-left: 34px;
    height: 27px;
    margin-top: 2px;

}

.image img{
width: 45%;
height: 50%;
margin-left: 200px;
}
.logos {
    display: none;
}

h3 {
    margin-bottom: 5px;
}

.btn{
    display: flex;
}

#discord-invite {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    background-color: #191b1d;
    border-radius: 4px;
}
#discord-invite img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}
#discord-invite-text {
    display: inline-block;
    text-align: left;
}
#discord-invite-text div {
    font-size: 0.8em;
}
.btn {
    display: flex;
    justify-content: flex-start;
  align-items: start;
    
    gap: 1rem;
  }
  
  .buy-button,
  .sell-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    width: 10em;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .buy-button {
    background-color: #2bfc7d;
    color: #ebebeb;
    margin-right: 10px; /* Add some spacing between the buttons */
  }
  
  .sell-button {
    background-color: #ebebeb;
    margin-right: 10px;
    color: #044b16;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  
   .sell-button:hover {
color: #ebebeb;
    background-color: #044b16; /* Light blue color when hovered */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Realistic shadow on hover */
  }
  .buy-button:hover{
    background-color: #044b16;
    color: #f1f1f1; /* Light blue color when hovered */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Realistic shadow on hover */
 
  }
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
@media(max-width:768px){
    #banner-text {
        font-size: 13px;
        min-width: 100%;
      min-height: 100%;}
    
      #banner {
        align-items: center;
        margin-left: 138px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        height: 350px;
        justify-content: center;
        padding-top:10px;
        margin-right: 30px;
    }
      .boxtwo{
        margin-left: 56px;
        min-width: 250px;
      }
      .logos {
        display: block;
        width: 50%;
        margin-left: 37px;
height: 50%;
      }
      .Logo {
        display: none;
      }
      #banner h2 {
        font-size: 23px;
        font-weight: 600;
        margin-left: 23px;
        margin-bottom: -4px;
    }
    .slider-container {
      width: 100%;
      /* padding-left: 48px; */
      /* padding-right: 128px; */
      height: 73vh;
      /* margin-left: 119px; */
      margin-right: 55px;
      font-family: "NovaFlat-Regular";
      overflow: hidden;
      position: relative;
      margin-top: 50px;
      border-radius: 20px;
      background-color: #1a1818b5;
  }
  .slider-slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 77px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 24px;
    /* background-color: #f1f1f1; */
    color: white;
    opacity: 0;
    font-family: "NovaFlat-Regular";
    transform: translateY(100%);
    transition: opacity 1s, transform 2s;
}
}