#banner {
   
    text-align: left;
    display: flex;
    
    padding: 0 20px;
font-family: "NovaFlat-Regular";
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 8%;
    margin-right: 40px;
    padding-top: 10%;
    align-items: start;
}
.headertwo{
  max-width:1000px;
}
/* Add these styles to your CSS file */
.video-background {
    position: relative;
    margin-top: 63px;
    border-radius: 36px;
}

.video-backgrounds{
  position: relative;
 
}

.background-videos{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
video{
  border-radius: 20px;
}



.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headertwo{
  max-width: 800px;
  margin-top: 10px;
}
.readyText h2 {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  position: relative; /* Position for pseudo-element */
}

.readyText h2::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeIn 2s ease forwards; /* Adjust the duration (2s) as needed */
}

@keyframes fadeIn {
  to {
    width: 100%;
  }
}





#banner h2{
font-weight: 300;
font-family: "lobster";
font-size: 30px;
}
#banner-text {
    font-size: 16px;
    max-width: 50%;
    max-height: 50%;
    text-align: left;
}
#banner-icon {
    margin: 100px 30%;
    margin-bottom: auto;
}
.boxtwo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoheader{
    width: 47px;
    margin-left: 34px;
    height: 27px;
    margin-top: 2px;

}/* Define the slower bouncing animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}



.Logos{
  animation: bounce 3s infinite; /* Increase the duration to 3s for a slower bounce */

    width: 500px;
    /* margin-left: 34px; */
    height: 87vh;
    object-fit: cover;
    margin-top: 2px;

}

.logos {
    display: none;
}

h3 {
    margin-bottom: 5px;
}

.btn{
    display: flex;
}

#discord-invite {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    background-color: #191b1d;
    border-radius: 4px;
}
#discord-invite img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}
#discord-invite-text {
    display: inline-block;
    text-align: left;
}
#discord-invite-text div {
    font-size: 0.8em;
}
.btn {
    display: flex;
    justify-content: flex-start;
  align-items: start;
    
    gap: 1rem;
  }
  
  .buy-button,
  .sell-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    width: 10em;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .buy-button {
    background-color: #04651c;
    color: #ebebeb;
    margin-right: 10px; /* Add some spacing between the buttons */
  }
  
  .sell-button {
    background-color: #ebebeb;
    margin-right: 10px;
    color: #044b16;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  
   .sell-button:hover {
color: white;
    background-color: #044b16; /* Light blue color when hovered */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Realistic shadow on hover */
  }
  .buy-button:hover{
    background-color: #044b16;
    color: white; /* Light blue color when hovered */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Realistic shadow on hover */
 
  }
  .heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    /* padding-left: 49px; */
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
  
@media(max-width:768px){
    #banner-text {
        font-size: 13px;
        min-width: 100%;
      min-height: 100%;}
      .heading h1 {
        font-family: 'DISCOVERY';
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        margin-left: 42px;
      }
 
.boxtwo {
    /* margin-left: 56px; */
    display: contents;
    /* min-width: 250px; */
}
    
      #banner {
                  align-items: center;
          /* margin-left: 138px; */
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          min-height: 381px;
          justify-content: center;
          min-width: 100vw;
          padding: 0 36px;
          margin-top: 100px;
          padding-top: 26px;
      }
      .boxtwo{
        margin-left: 56px;
        min-width: 250px;
      }
      .logos {
        display: block;
        width: 50%;
        margin-left: 37px;
height: 50%;
      }
      .Logo {
        display: none;
      }
      #banner h2 {
        font-size: 23px;
        font-weight: 500;
        text-align:center;
        margin-left: -13px;
        margin-bottom: -4px;
    }
    .heading {
      animation: zoomIn 3s; /* Adjust the duration as needed */
      animation-fill-mode: both;
    }
    
    @keyframes zoomIn {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    .slider-container {
      width: 100%;
      /* padding-left: 48px; */
      /* padding-right: 128px; */
      height: 73vh;
      /* margin-left: 119px; */
      margin-right: 55px;
      font-family: "NovaFlat-Regular";
      overflow: hidden;
      position: relative;
      margin-top: 50px;
      border-radius: 20px;
      background-color: #1a1818b5;
  }
  
  .slider-slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 77px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 24px;
    /* background-color: #f1f1f1; */
    color: white;
    opacity: 0;
    font-family: "NovaFlat-Regular";
    transform: translateY(100%);
    transition: opacity 1s, transform 2s;
}
}